application/config/database.php
application/config/config.php
.htaccess
system/application/cache/*
application/cache/*
application/logs/*
system/cache/*
system/logs/*
sql/
.idea/
/uploads/
webstat/
.*.swp
*.swp
*.swo
*.swn
*.bak
*.un~
/.vim/*
/nbproject/
